__pycache__/
*.py[cod]
.DS_Store

.ipynb_checkpoints/

logs*/
!logs/
logs/*
!logs/.gitkeep

runs/*
!runs/.gitkeep

analysis/*
!analysis/.gitkeep

analysis_*/
checkpoints/

outputs/*
!outputs/.gitkeep

data/*
!data/.gitkeep

adapters/*
!adapters/.gitkeep

wandb/

*.safetensors
*.pt
*.pth
*.bin
*.parquet
*.csv
*.png
*.jpg
*.jpeg
*.mp4
